@import '../flex.scss';
@import '../color';

.navbar {
  @include flex-column();
  background-color: $primary-800;
  color: #FFF;
  height: 100%;
  font-size: 40px;

  &__position-relative {
    width: 100%;
    margin-top: 70px;
    @include flex-column();
    justify-content: center;
    position: relative;
    i {
      position: absolute;
      margin-left: 20px;
      top: 9px;
      color: gray;
    }
  }

  &__navitem {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;

    &--search {
      width: 75%;
      font-size: 1.05rem;
      padding: 10px 10px 10px 40px;
      border: none;
      align-self: center;
      &:focus {
        outline: none;
      }
    }
  }

  &__button {
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      color: #FB6304;
      text-decoration: underline;
    }
  }

  &__results {
    width: 92%;
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: $secondary-900;
    align-self: center;
    &:hover {
      background-color: $secondary-600;
      color: #FFF;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  ul {
    margin-top: auto;
    margin-bottom: 20px;
  }
}