@import '../flex.scss';

.rum {
  @include flex-column();
  background-color: #242424;
  color: #FFF;
  height: 100%;
  width: 100%;
  border-left: #1E1E1E solid 1px;
  font-size: 40px;
  box-sizing: border-box;
  padding: 20px;

  form {
    @include flex-column();
    div {
      label{
        @include flex-row();
        font-size: 1rem;
        align-items: center;
        margin-top: 20px;
        input, button {
          margin-left: auto;
          margin-right: 0;
          width: 150px;
        }
        input, button {
          border: none;
          padding: 7px;
        }
      }
    }
  }
}