@import "../flex";

.rum-pane {
  &__image {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__description {
    padding: 20px;
    margin-top: 20px;
    color: #FFF;
    div {
      @include flex-row();
      justify-content: flex-end;
      margin-top: 10px;
    }

    &--left-alignment {
      margin: 0 auto 0 0;
    }
  }
}