@import 'flex.scss';
@import './nav/navbar.scss';
@import './header/register.scss';
@import './header/login.scss';
@import './pane/rum.scss';
@import './content/card.scss';
@import './content/cardlist.scss';
@import './header/overview.scss';
@import './pane/rumpane.scss';
@import 'color.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  @include flex-row();
  background-color: $primary-500;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
}

#nav {
  height: 100%;
  width: 300px;
  position: relative;
  transition: width 100ms ease, visibility 200ms ease;

  &.close {
    transition: width 100ms ease, visibility 200ms ease;
    width: 30px;
    > section > div.navbar__position-relative {
      visibility: hidden;
    }
    > section > div.navbar__button > i {
      margin: auto;
    }
  }
}

#pane {
  @include flex-column();
  background-color: $primary-700;
  height: 100%;
  width: 400px;
  position: relative;
  transition: right 100ms ease;
  right: -350px;
  display: block;
  section {
    @include flex-column();
    height: 100%;
  }
  &.close {
    transition: right 200ms ease-out, width 100ms linear;
    width: 0;
  }
  &.open {
    right: 0;
  }
}

.panebody {
  @include flex-column();
  height: 100%;
  &__header {
    height: 50px;
    @include flex-column();
    position: relative;
    background-color: $primary-700;
    justify-content: center;
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 1.1rem;
    i {
      position: absolute;
      right: 10px;
      top: 12px;
      color: $secondary-50;
      &:hover {
        cursor: pointer;
        transform: scale(1.15);
      }
    }
  }
}

#header {
  height: 100px;
  width: 100%;
  background-color: $primary-600;
  z-index: 5;
}

#wrapper {
  height: 100%;
  width: 100%;
  @include flex-column();
}

#wrapper2 {
  height: 100%;
  width: 100%;
  @include flex-row();
  justify-content: space-between;
  #content {
    width: 100%;
  }
}

.error {
  color: red;
  font-weight: 900;
}

.hide {
  visibility: collapse;
}

.show {
  visibility: visible;
}

.img {
   height: 140px;
    width: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}