@import 'flex.scss';

.navbar {
  @include flex-column();
  background-color: #242424;
  color: #FFF;
  height: 100%;
  border-right: #1E1E1E solid 1px;
  font-size: 40px;

  &__navitem {
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1.5rem;

    &--search {
      width: 85%;
      font-size: 1.05rem;
      padding: 2px;
      align-self: center;
      margin-top: 10vh;
    }
  }
}