@import 'flex.scss';

.navbar {
  @include flex-column();
  background-color: #242424;
  color: #FFF;
  height: 100%;
  justify-content: space-around;
  -webkit-box-shadow: 2px 1px 9px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 1px 9px 1px rgba(0,0,0,0.33);
  box-shadow: 2px 1px 9px 1px rgba(0,0,0,0.33);
  border-right: #1E1E1E solid 1px;
  font-size: 40px;

  &__navitem {
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
  }
}