@import "../flex.scss";
@import "../color";

.card {
  background-color: $secondary-900;
  margin: 20px;
  @include flex-column();
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  max-height: 275px;
  max-width: 210px;
  position: relative;
  border-radius: 5px;

  &__image-wrapper {
    height: 260px;
    width: 235px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__header {;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 110%;
    height: 40px;
    font-size: 1.4rem;
    background-color: $secondary-900;
    color: $secondary-50;
    font-weight: bolder;

  }
}