@import 'flex.scss';
@import '../color.scss';
@import "../mixins";

.login {
  width: 100%;
  height: 100%;
  @include flex-row();
  flex-direction: row-reverse;
  align-items: flex-end;

  form {
    @include flex-row();
    margin-bottom: 20px;
  }

  input[type='submit'] {
    @include primary();
    margin-right: 40px;
  }

  input[type='button'] {
    @include secondary-blank();
  }

  input:not([type='submit']):not([type='button']) {
    @include input();
  }

  &__new-rum {
    background-color: $primary-800;
    color: $secondary-50;
    padding: 10px 20px;
    margin: auto auto auto 40px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: $secondary-400;
      transform: scale(1.2);
    }
  }
}
