@import 'flex.scss';
@import '../color.scss';
@import "../mixins";

.login {
  width: 100%;
  height: 100%;
  @include flex-row();
  flex-direction: row-reverse;
  align-items: center;

  form {
    @include flex-row();
  }

  input[type='submit'] {
    @include primary();
    margin-right: 40px;
  }

  input[type='button'] {
    @include secondary-blank();
  }

  input:not([type='submit']):not([type='button']) {
    @include input();
  }
}
