@import 'flex.scss';
@import "../mixins";

.register {
  width: 100%;
  height: 100%;
  @include flex-row();
  flex-direction: row-reverse;
  align-items: flex-end;

 form {
    @include flex-row();
   margin-bottom: 20px;
  }

  input[type='submit'] {
    @include primary();
    margin-right: 40px;
  }

  input[type='button'] {
    @include secondary-blank();
  }

  input {
    @include input();
  }
}
